.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .col {
    flex: 1;
  }
  
  .table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  .table-dark th{
    padding: 10px;
    border: 1px solid #fff;
    background-color: #333;
    color: #fff;
  }

  .table-dark tr {
    background-color: #fff;
    color: #333;
  }

  .table-dark td {
    padding: 10px;
    border: 1px solid #fff;
    
  }

  .table-dark tbody tr:hover {
    background-color: #7daad7;
    cursor: pointer;
  }
  
  .app-cartaPaciente {
    margin-top: 20px;
  }